<div class="manypostsdiv">
  <h1 class="manypostsheader">
    <%= header_text %>
  </h1>
  <% if posts_collection.size.zero? %>
    <h2 class="nopostsheader">There are no posts to display.
    </h2>
  <% else %>
    <% posts_collection.each do |one_post| %>
      <%= render 'display_post', post: one_post, of_many: true, text_limit: 50  %>
    <% end %>
  <% end %>
</div>