<div class="manypostsdiv">
  <h1 class="manypostsheader">
    <%= header_text %>
  </h1>
  <% if posts_collection.size.zero? %>
    <h2 class="nopostsheader">There are no posts to display.
    </h2>
  <% else %>
    <% posts_collection.each do |one_post| %>
      <%= render 'posts/display_post', post: one_post %>
    <% end %>
  <% end %>
  <%# The @text_limit variable is positive if we intend to abbreviate posts and comments. If, as in the posts#show view we do not have abbreviation, we use @text_limit = 0 to mean "infinity" or "no limit" %>
</div>