<% content_for :head do %>
  <meta name="turbo-visit-control" content="reload" >
<% end %>
<%= stylesheet_link_tag "posts" %>
<div class="postsindexdiv"> 
  <%= render 'display_many_posts', posts_collection: @current_user_posts, header_text: "My Recent Authored Posts" %>
  <%= render 'display_many_posts', posts_collection: @followee_posts, header_text: "Recent Posts Authored by Those I Follow" %>
</div>
