div.userindexdiv {
  height: 70vh;
  width: 90vw;
  margin: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 40px;
}

div.managefollowssection {
  padding: 10px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  background-color: rgb(150, 150, 120);
  border: 5px solid grey;
  overflow: auto;
}

div.managefollowssection:nth-of-type(3) {
  grid-row: 1 / span 2;
  grid-column-start: 3;
}

div.managefollowssection > h2 {
  font-size: 30px;
}

div.userindexlinkdiv {
  display: grid;
  grid-template-columns: 100px 100px 100px;
}
